
<!DOCTYPE html>
<head>
    <title>
        Yelp Camp
    </title>
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    


<div id="landing-header">
    <h1>Welcome to YelpCamp!</h1>
    <a href="/campgrounds" class="btn btn-success btn-lg">View All Campgrounds</a>
</div>
<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<%- include("partials/footer") %>